@font-face {
    font-family: 'Kenney Pixel';
    src: url('fonts/RetroFonts/Kenney-Pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Kenney Pixel', sans-serif;
    background-color: black;
    color: white;
    font-size: 36px;
}

h1, p {
    font-family: 'Kenney Pixel', sans-serif;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.project img {
    width: 100%;
    border-radius: 10px;
}

.project-info {
    padding: 10px;
}

.project h2 {
    color: #ffcc00;
}

.project p {
    color: #ccc;
}

.trailer-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.trailer-button:hover {
    background-color: #ffaa00;
}